.auth {
  margin: auto;
  margin-top: -1.6rem;
  width: 95%;
  max-width: 22rem;
  border-radius: 6px;
  background-color: #3e3f68;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2.9rem 1.5rem;
  text-align: center;
  color: white;
}

.amazonLogo {
  margin-top: 10px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.auth h1 {
  text-align: center;
  color: white;
  font-weight: 500;
  margin-bottom: 70px;
}

.control {
  margin-bottom: 35px;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  font-size: 1.1rem;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: center;
  padding: 0.7rem 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actions p {
  margin-top: 15px;
  font-size: 15px;
  color: rgba(245, 245, 245, 0.808);
}
.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #3e3f68;
  border: 1px solid #3e3f68;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #f0c14b96;
  border-color: #f0c14b77;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: white;
}
