html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(100, 148, 237, 0.233);
}

html,
body {
    min-width: 100%;
    min-height: 100%;
}

:root {
    --color1: black;
    --color2: #d8d9db;
    --color3: #fff9f9e0;
    --color4: #df974c;
}

.calc-container {
    display: grid;
    margin: 4rem auto;
    width: 403.7px;
    background: var(--color1);
}

.screen {
    font-size: 2rem;
    color: #fff;
    text-align: right;
    padding: 1rem 0.7rem;
    word-wrap: break-word;
    word-break: break-all;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 100.7px);
    grid-template-rows: repeat(5, 80px);
    background: var(--color2);
}

.calc-item {
    border: 0;
    border-radius: 0;
    color: var(--color1);
    font-size: 2rem;
    border: 1px solid var(--color1);
}

.orange {
    background: var(--color4);
    color: white;
}

.triple {
    grid-column: 1/3;
}

.quadruple {
    grid-column: 1/4;
}

.calc-item:not(.orange):hover,
.calc-item:not(.orange):active {
    background: var(--color3);
}

.orange:hover,
.orange:active {
    background: #dfb07e;
}