.hideFile {
  display: none;
}

.fontSizeFile {
  display: flex;
  font-size: 1.3rem;
}

.grayColor {
  color: rgba(0, 13, 9, 0.5);
}

.black {
  color: black;
}

.uploadImages {
  background: #ffffff;
  border: 2px dashed #e1e5e4;
  border-radius: 2px;
  padding: 1rem;
  cursor: pointer;
  width: 443px;
}

.svgImageClick {
  position: absolute;
  transform: translateX(24rem);
  cursor: pointer;
  background: black;
}

.mins {
  position: relative;
  right: 3rem;
  width: 282px;
  height: 41px;
  text-align: center;
  background: rgba(234, 238, 255, 0.62);
  border-radius: 10px;
  margin-left: 9rem;
}

.minsRate {
  position: relative;
  top: -0.5rem;
  font-family: "Poppins";
  font-style: normal;
  line-height: 143%;
}

.beneficiary {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 11rem;
}
.beneficiaryTitle {
  display: flex;
  cursor: pointer;
  position: relative;
  right: 7rem;
}

.beneficiaryDetails,
.beneficiaryDetailsReview {
  width: 100%;
  position: relative;
  left: 38%;
  padding: 0 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140.62%;
}

.generalForm {
  width: 495px;
  height: 505px;
  padding: 1.8rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  background-color: #ffff;
  border-radius: 4px;
}

.newAndSavedBeneficiary {
  display: flex;
  align-items: center;
  width: 440px;
  height: 48px;
  justify-content: space-evenly;
  border: 0.5px solid #e1e5e4;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.clickBeneficiary {
  position: relative;
  top: -0.7rem;
  width: 200px;
  height: 0px;
  align-self: center;
}

.backgroundShow {
  background: #f3f5fe;
  border-radius: 4px;
}

.beneficiarySelect {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  margin-top: 2rem;
  column-gap: 32px;
  row-gap: 20px;
}

.inputWidth {
  width: 13.3rem;
  height: 37px;
  padding: 0.2rem 0;
  background-color: white;
}

.positionFlag {
  position: absolute;
  top: 55%;
  right: 60%;
}

.positionFlagImg {
  width: 18px;
  height: 10px;
  font-style: italic;
}

.beneficiarySelect .input {
  padding: 0.6rem 1rem;
  border: 0.5px solid #e1e5e4;
  border-radius: 4px;
}

.beneficiarySelect .input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: rgba(0, 13, 9, 0.5);
}

.clickSave {
  display: flex;
  width: 395px;
  transform: translateY(0.8rem);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.saveBeneficiaryForm {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.iconSave {
  font-size: 3rem;
  color: #dbdce0;
}

.yesSave {
  position: absolute;
  top: 25%;
  margin-left: 0.3rem;
  color: #000000;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.submitBeneficiaryForm {
  width: 430px;
  height: 50.56px;
  background: #04103d;
  border-radius: 4px;
  border: 0;
  outline: 0;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 157%;
  color: #ffffff;
  transform: translate(-14.2rem, 9rem);
}

.submitBeneficiaryForm:disabled,
.submitBeneficiaryForm:disabled:hover,
.submitBeneficiaryForm:disabled:active {
  background: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
.submitBeneficiaryForm:enabled {
  cursor: pointer;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
}

.beneficiaryDetailsReview {
  position: relative;
  left: 9rem;
}

.beneficiaryTitleReview {
  position: relative;
  right: 10rem;
  cursor: pointer;
}

.calcTime {
  position: relative;
  left: 0.7rem;
}

.reviewFormContainer {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 460px;
  height: 540px;
  padding: 1.5rem 2.5rem;
}

.reviewContainer {
  display: grid;
}

.generalReview {
  position: relative;
  right: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positionMins {
  position: relative;
  top: 0.6rem;
}

.reviewForm {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  row-gap: 10px;
}

.reviewForm div {
  border-bottom: 1px solid rgba(219, 220, 224, 0.46);
  line-height: 2;
  font-size: 13px;
  color: #979797;
  margin-bottom: -7px;

}

.reviewForm p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewForm .reduce {
  width: 140px;
}

.reviewForm .shiftRight {
  text-align: right;
  position: relative;
  left: 30%;
}

.reviewForm span {
  color: #000000;
  position: relative;
  top: -10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.buttonReview {
  display: flex;
  width: 400px;
  height: 120px;
  align-items: center;
  justify-content: space-around;
}

.buttonReview button {
  width: 180px;
  padding: 0.8rem 0;
  border: 1px solid rgba(4, 16, 61, 0.06);
  outline: 0;
  font-weight: 800;
  cursor: pointer;
}

.pin {
  display: flex;
  flex-direction: column;
  height: 107px;
  justify-content: center;
  align-items: center;
}

.pin p {
  font-size: 13px;
  font-weight: bold;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #000000;
}

.pinInputsContainer {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.pinInputs {
  width: 2.3rem;
  height: 2.2rem;
  border: 0;
  outline: 0;
  color: black;
  background: rgba(4, 16, 61, 0.06);
  border-radius: 1px;
  text-align: center;
}

.pinInputs::placeholder {
  position: absolute;
  left: 38%;
  top: 45%;
  background: #000000;
  width: 0.5rem;
  height: 2px;
}
.cancel {
  background: rgba(4, 16, 61, 0.06);
  border: 1px solid rgba(4, 16, 61, 0.06);
  border-radius: 4px;
}

.send {
  background: #04103d;
  border-radius: 4px;
  color: white;
}

.sentIcon {
  background: #ececec;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 1rem;
  border-radius: 50%;
}

.sentSuccessful {
  text-align: center;
}

.sentSuccessful h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}

.sentSuccessful p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140.62%;
  color: #7a807e;
}

.sentButton button {
  width: 211px;
  height: 51px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 157%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffffff;
  background: #04103d;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.sentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  position: relative;
  right: 10rem;
  background: #ffffff;
  width: 500px;
  height: 380px;
  padding: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: background-color 0.1s ease-in-out;
}

.inactive {
  background-color: #9b59b6;
}

.active {
  background-color: pink;
}
