.general {
  background-color: rgba(246, 240, 240, 0.735);
  background: linear-gradient(
    rgba(246, 240, 240, 0.735) rgba(246, 240, 240, 0.735)
  );
  margin: 4rem 0;
  opacity: 0.9;
  border: 1px solid rgba(0, 0, 255, 0.095);
  padding: 0;
  overflow-x: hidden;
}
.headerDelivery {
  color: rgb(229, 152, 9);
  transform: translateY(20px);
}
.containerApp {
  display: flex;
  align-items: center;
}

.img {
  width: 60%;
  transform: translateY(-40px);
}

@media screen and (max-width: 802px) {
  .containerApp {
    flex-direction: column;
  }

  .img {
    margin-top: 27px;
  }
}
