.list {
  background-color: rgba(246, 240, 240, 0.735);
  background: linear-gradient(
    rgba(246, 240, 240, 0.735) rgba(246, 240, 240, 0.735)
  );
  margin: 19rem 0;
  opacity: 0.9;
  height: 50rem;
  border: 1px solid rgba(0, 0, 255, 0.095);
}
.order {
  display: flex;
}
.imgOrder {
  position: relative;
  top: -350px;
  right: 12px;
  transform: rotateZ(-2deg);
}
.textOrder {
  font-size: 1.5rem;
}
.headerOrder {
  color: rgb(229, 152, 9);
}

@media screen and (max-width: 375px) {
  .imgOrder {
    display: none;
  }
  .list {
    height: 25rem;
  }
}

@media screen and (max-width: 820px) {
  .imgOrder {
    width: 50%;
    top: 90%;
    left: 25%;
  }
  .order {
    flex-direction: column;
  }
  .list {
    margin-top: -10px;
  }
}
@media screen and (min-width: 902px) {
  .list {
    height: 30rem;
  }
}

@media screen and (min-width: 912px) {
  .list {
    height: 33rem;
  }
}
